node_modules/
build/
dist/
coverage/
.DS_Store
*.log
.env*
!.env.example
kashflow-release.keystore
zux-release.keystore
android_build.gradle
app_build.gradle
settings.gradle
gen_keystore.sh
capacitor-cordova-android-plugins_build.gradle
android/
